

{% extends "habit_tracker/base.html"%}
{% block content %}
    <ul class="dates" style="list-style-type: None; padding: 0;">
    {% for date in dates_list %}
        <li><p>{{ date }}</p></li>
    {% endfor %}
    </ul>
    {% for habit in habits %}
        <ul class="habits" style="list-style-type: None; padding: 0;">
            <li><p>{{ habit.title }}</p></li>
            <li><p>Category: {{ habit.category }}</p></li>
            <li><p>Created: {{ habit.creation_date }}</p></li>
        </ul>
    {% endfor %}
{% endblock content %}