body {
    background: #FBFAFA;
    color: #2E2E2E !important;
    margin: 0;
}

#head-content {
    background-color: #F0F0F0;
    border-bottom: solid #e2e2e2 2px;
}

.navbar-brand {
    padding-left: 10px;
}

#main-content {
    font-size: 16px;
    padding-top: 20px;
}

#main-content p {
    margin: 0;
}

#col-sorting {
    background-color: #dadada;
    border-bottom: solid #999999 2px;
    text-align: center;
}

.dates li {
    float: left;
    width: 5.5%;
}

.habits li {
    float: left;
    overflow: hidden;
    width: 33%;
}

.col-sm-1 {
    float: left;
    min-height: 1px;
    padding: 0;
    margin: 0;
    width: 7%;
    text-align: center;
}
.col-sm-6 {
    padding: 0;
    margin: 0;
}