body {
    background: #FBFAFA;
    color: #333333;
    margin: 0;
}

#head-content {
    background-color: #F0F0F0;
    border-bottom: solid #e2e2e2 2px;
}

.navbar-brand {
    padding-left: 10px;
}

#main-content {
    font-size: 16px;
}

.dates li {
    float: left;
    width: 5.5%;
}

.habits li {
    float: left;
    overflow: hidden;
    width: 33%;
}

.col-sm-1 {
    float: left;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 1px;
}